.modal {
    @import "icon/*.png";
    // position: fixed;
    position: absolute;
    left: 0;
    top: 0;
    // width: 100%;
    // height: 100%;
    background: rgba(0,0,0,0.8);
    background: transparent\9;
    .panel {
        @include user-select(none);
        position: absolute;
        left: 50%;
        top: 30px;
        width: 720px;
        margin-left: -360px;
        .close {
            position: absolute;
            right: 10px;
            top: 12px;
            @include icon-sprite("close");
            width: icon-sprite-width("close");
            height: icon-sprite-height("close");
            cursor: pointer;
        }
        .hd {
            height: 55px;
            background: #8ec242;
            color: #fff;
            font-size: 14px;
            padding-left: 14px;
            line-height: 55px;
        }
        .bd {
            padding: 25px;
            background: #fff;
            @include pie-clearfix;
        }
        .slides {
            background: black;
            position: relative;
            width: 270px;
            height: 450px;
            margin: 0 30px;
            overflow: hidden;
            @include float-left;
            .prev {
                position: absolute;
                top: 50%;
                left: 0;
                @include icon-sprite("prev");
                width: icon-sprite-width("prev");
                height: icon-sprite-height("prev");
                margin-top: icon-sprite-height("prev") * -0.5;
                cursor: pointer;
            }
            .next {
                position: absolute;
                top: 50%;
                right: 0;
                @include icon-sprite("next");
                width: icon-sprite-width("next");
                height: icon-sprite-height("next");
                margin-top: icon-sprite-height("next") * -0.5;
                cursor: pointer;
            }
            img {
                position: absolute;
                left: 0;
                top: 0;
            }
        }
        .detail {
            overflow: hidden;
            position: relative;
            padding: 30px 0;
            .app {
                @include pie-clearfix;
                margin-bottom: 30px;
                .icon {
                    width: 90px;
                    height: 90px;
                    border-radius: 20px;
                    @include box-shadow(0 0 7px rgba(0,0,0,0.19));
                    @include float-left;
                    margin-right: 15px;
                    background-position: center center;
                }
                .name {
                    padding-top: 13px;
                    font-size: 14px;
                }
                .size {
                    padding-top: 6px;
                    color: #666;
                    line-height: 28px;
                    font-size: 11px;
                }
            }
            .verdict {
                position: relative;
                min-height: 270px;
                _height: 270px;
                .intro {
                    clear: both;
                    margin: 0 0 20px;
                    padding-left: 5px;
                }
                .title {
                    color: #7f7f7f;
                    border-bottom: 1px solid #e1e1e1;
                    padding-left: 5px;
                    padding-bottom: 5px;
                }
                .speech {
                    padding-left: 5px;
                    line-height: 24px;
                    margin-top: 40px;
                    strong {
                        font-weight: normal;
                        color: $green;
                    }
                }
            }
        }
        %button {
            border-radius: 3px;
            text-align: center;
        }
        .btn-install {
            @extend %button;
            @include inline-block;
            margin-right: 10px;
            background: $green;
            width: 58px;
            height: 22px;
            font-size: 12px;
            line-height: 22px;
            padding: 4px;
            @include box-shadow(0 0 9px rgba(0,0,0,0.05));
            color: #fff;
            @include text-shadow(#4d7e06 0 1px);
        }
        .btn-share {
            @extend %button;
            position: absolute;
            bottom: -30px;
            left: 5px;
            width: 56px;
            height: 20px;
            border: 1px solid #d8d6d5;
            line-height: 20px;
            color: #6e6e6e;
            margin-bottom: 4px;
            @include text-shadow(#fff 0 1px);
            background: #f5f5f5;
        }
        .share-bar {
            position: absolute;
            bottom: -30px;
            left: 0;
            width: 100%;
            border-top: 1px solid #ccc;
            @include pie-clearfix;
            padding-top: 5px;
            .icons {
                @include float-left;
                color: #aaa;
                margin: 0 5px;
            }
            @each $icon in "weibo", "qzone", "renren", "google", "facebook" {
                a.share-to-#{$icon} {
                    @include icon-sprite($icon);
                    width: icon-sprite-width($icon);
                    height: icon-sprite-height($icon);
                    line-height: 0;
                    @include inline-block;
                    margin-right: 5px;
                    &:hover {
                        @include icon-sprite(#{$icon}_hover);
                    }
                }
            }
        }
    }
    & .panel .horizontal {
        .slides {
            width: 450px;
            height: 270px;
            float: none;
            display: block;
            margin: 0 auto;
        }
        .detail {
            width: 450px;
            margin: 0 auto;
            .verdict {
                min-height: auto;
                _height: auto;
                padding-bottom: 0;
            }
            .verdict .speech {
                margin-top: 20px;
            }
        }
        .btn-share {
            position: static;
            display: block;
            margin: 10px 0 0 5px;
        }
        .share-bar {
            position: static;
            .icons {
                @include float-right;
            }
        }
    }
}
